
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Chakra+Petch:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

body{
    font-family: 'Chakra Petch', sans-serif;
    width: 100vw;
    margin: 0%;
}

body:hover{
    cursor: context-menu;
}

/***************************** header ******************************/

header{
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    position: relative;
    justify-content: space-between;
}

header img{
    align-items: flex-start;
    width: 250px;
    position: relative;
    box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.7);
}

header h2{
    position: absolute;
    z-index: 1;
    padding: 1% 0 0 0.5%;
    font-size: 28px;
}

h1{
    background-color: black;
    color: rgb(247, 246, 244);
    width: 73%;
    margin: 0.3% 0% 2% 10%;
    border-radius: 0px 0px 0px 3px;
    box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.7);
}


/***************************** main ******************************/

main{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
}

.contenido{
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 1%;
}


/***************************** menu lyrics ******************************/

.letrasMenu{
    width: 20%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color: black;
    color: rgb(247, 246, 244);
    border-radius: 0px 0px 4px 3px;
    box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.5);
}

#listaTitulos{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

#listaTitulos p{
    background-color: rgb(13, 61, 158, 0.3);
    padding-left: 1%;
}

#listaTitulos ul{
    list-style-type: none;
    margin-top: 0%;
    margin-bottom: 4%;
    padding: 0% 4% 0% 11%;
}

.contenido li:hover{
    background-color: aqua;
    font-weight: bolder;
}

#selectorDeLetra{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

#selectorDeLetra h2{
    width: 85%;
    text-align: center; 
    color: rgb(247, 246, 244);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0% 5% 0% 7%;
}

#selectorDeLetra button{
    width: 15%;
    border-radius: 5px;
}


/***************************** letras ******************************/

.letras{
    background-color: rgb(247, 246, 244);
    width: 20%;
    text-align: center;
    margin: 0% 1%;
    border-radius: 0px 0px 0px 3px;
    box-shadow: 7px 12px 20px rgba(0, 0, 0, 0.5);
}

.letras h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.letras div{
    padding: 0% 11%;
    display: -webkit-box;
    -webkit-line-clamp: 13;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 155%;
    overflow-y: scroll;
    cursor: cell;
}


.letras div::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}



.letras p{
    margin-top: 0%;
}
  


/***************************** imagenes ******************************/

.imagenes{
    display: flex;
    box-sizing: border-box;
    width: 56%;
    background-color: black;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    border-radius: 0px 0px 0px 3px;
    position: relative;
    padding: 0% 2.5% 0% 0.5%;
    box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.5);
}

.imagenes img{
    max-width: 40%;
}

.imagenes p{
    width: 100%;
    background-color: rgb(247, 246, 244);
    color: rgb(247, 246, 244);
}

.button{
    position: absolute;
    top: 46%;
    right: 0.5%;
    color: rgb(13, 61, 158);
    background-color: rgb(255, 255, 255, 0.8);
    height: 8%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.imagenes ol{
    display: none;
}

/***************************** reproductor ******************************/

#reproductor{
    background-color: black;
    color: aqua;
}

#reproductor .funciones{
    display: flex;
    box-sizing: border-box;
    align-items: center; 
    justify-content: space-between;
}

#reproductor .reloj{
    margin-left: 3%;
    width: 30%;
}

#reproductor ul{
    display: flex;
    box-sizing: border-box;
    list-style-type: none;
    justify-content: center;
}

#reproductor li{
    margin-right: 10%;
}

#a02{
    margin-top: -1.4%;
    padding-right: 3%;
}

#a03{
    margin-left: -1%;
}

#a04{
    padding: 0% 3% 0% 1%;
}

#reproductor li:hover{
    transform: scale(1.3);
}

#reproductor h2{
    padding: 0%;
    margin: 0%;
    margin-right: 1%;
    text-align: end;
    width: 30%;
} 


/***************************** footer ******************************/

footer{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
}

footer p{
    background-color: black;
    color: rgb(247, 246, 244);
    margin-bottom: 0%;
    padding: 0.5%;
}

footer h4{
    margin-bottom: 0%;
    color: rgb(247, 246, 244);
    position: absolute;
    right: 1%;
}


/******************************* menu desplegable ***************************/

.menuDesplegable ol{
    display: block;
    background-color: rgba(13, 61, 158, 0.3);
    color: rgb(247, 246, 244);
    position: absolute;
    width: 28%;
    right: 6%;
    top: 8%;
    padding: 1% 0.5% 1% 4%;
    z-index: 1;
}

 .imagenes, .menuDesplegable{
    justify-content: flex-start;
}

.menuDesplegable p{
    position: relative;
    width: 20%;
}

#iconoMenu{
    margin-top: 21%;
    margin-left: 5%;
}

.menuDesplegable img{
    max-width: 36%;
}

.menuDesplegable #off{
    display: none;
}

/***************************** hide *******************************/

.hide{
    display: none;
}


/**************************** queries *****************************/

@media(max-width:768px){

    .contenido{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .letrasMenu{
        width: 40%;
    }
    .letras{
        width: 40%;
    }
    .imagenes{
        width: 94%;
        margin-top: 2%;
        padding: 15% 5% 15% 1%;
    }


}


